# ignore compiled files of any sort
*.pyc
*.c
*.so
*~
.#*
*.swp
*.swo
*.profile

# coverage
.coverage*

# ignore specific usual dir
dist/
.DS_Store
.cache
__cache__
__cache_dir__
build
.pytest_cache
__pycache__
.cachedir
.ipynb_checkpoints/

# ignore example results
*.png
*.pdf

# ignore all type of zipped files
*.zip
*.nt.bz2
*.tar.gz
*.tgz
